body {
    color: white;
    background-color: #1d3557;
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-align: justify;
}
hr {
    clear: both;
}
h1 {
    text-align: center;
    font-weight: 1000;
    line-height: 80px;
}
h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: 200;
}
.foto {
    border-radius: 20%;
}
ol {
    text-align: left;
    color: white;
    width: 190px;
    border-radius: 10%;
}

.menu {
    text-align: center;
    vertical-align: middle;
}

.menu a {
    text-decoration: none;
}

.menu a:visited, .menu a:link {
    color: white;
}
.menu a:hover, .menu a:active, .menu a:focus {
    background-color: #51B5ED;
}

.botao {
    background-color: #166FA1;
    width: max-content;
    border-radius: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 30px;
    padding: 0.1% 1%;
    display: inline-block;
    text-align: center;
}

ul {
    color: red;
}

#minha-foto {
    float: left;
    width: 350px;
    margin-right: 2%;
    margin-top: 5%;
    margin-left: 1%;
}

.desc {
    padding: 20px;
    vertical-align: middle;
}
.instituicoes {
    float: right;
    width: max-content;
    margin-right: 3%;
    margin-bottom: 3%;
    vertical-align: middle;
}

.instituicoes #sdsu {
    padding: 0% 7%;
}
.habilidades {
    clear: both;
    margin: 2%;
}
